@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap&subset=cyrillic')

*
  outline none!important
  -webkit-tap-highlight-color: transparent !important

body
html
  scroll-behavior smooth
  text-rendering optimizeSpeed
  line-height 1.5
  font-family 'Montserrat', sans-serif
  color #2c3e50
  scrollbar-width none /* Firefox */
  -ms-overflow-style none /* IE 10+ */
  ::-webkit-scrollbar
    display none /* WebKit */
    width 0px /* WebKit */

img
  height 100%
  width 100%
  object-fit cover

button
input
textarea
  font-family inherit
  margin 0
  padding 0
  background transparent

span
  color inherit

a
  text-decoration none

h1
  font-size 42px
h2
  font-size 36px
h3
  font-size 28px
h4
  font-size 21px
h5
  font-size 18px

h6
  font-size 16px

h1
h2
h3
h4
h5
h6
  padding 0 10px
  text-align center
  font-weight bold
  text-transform uppercase

b
  font-weight 700
small
  font-size 14px
  font-weight 600
  color cadetblue

hr
  margin 60px auto
  width 300px
  border-top 1px solid rgba(#2c3e50, .01)

.container
  max-width 1170px
  width 100%
  position relative
  margin 0 auto